@import '../../../styles/settings.scss';

.button {
  background: $color-main;
  color: $color-text-light;
  text-align: center;
  padding: $base-size/2 $base-size;
  border-radius: $radius;
  cursor: pointer;
  font-weight: 700;
  font-size: $base-size * 2;
  border: 0;
  text-transform: uppercase;

  &:hover {
    background: darken($color-main, 5%);
  }
}
