@import '../../styles/settings.scss';

.item {
    min-height: 50px;
    align-items: center;
  
}

.imageWrapper {
    display: flex;
    align-items: center;
}

.image {
    background-color: darken($color-light, 5%);
    margin-right: 20px;
}

.userName {
    color: darken($color-dark,50%);
    font-weight: 500;
    margin: 0;
    margin-right: 20px;
}

.email {
    color: darken($color-dark, 20%); 
    margin: 0;
}

.checkboxWrapper {
  display: flex;
  justify-content: end;
  align-items: center;
}

.checkbox {
  appearance: none;
  background-color: inherit;
  margin: 0;
  font: inherit;
  width: 20px;
  height: 20px;
  border: 1px solid $color-dark;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.checkbox::before {
  content: '';
  width: 14px;
  height: 14px;
  border: none;
  background-color: $color-main;
  transform: scale(0);
  transition: 120ms transform ease-in-out;

  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.checkbox:checked::before {
  transform: scale(1);
}

@media (max-width: 767px) {
  .item {
    flex-direction: column;
  }

  .checkboxWrapper {
    justify-content: start;
  }

  .email {
    margin: 10px 0;
  }
}