@import '../../../styles/settings.scss';

.header {
    text-align: center;
    padding: 20px 0;
    color: $color-main;
    font-size: $base-size * 2;
    background-color: lighten($color-dark, 5%);
};  